@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

html {
  font-size: 16px;

  @media (max-width: 600px) {
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.containerApp {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  max-width: "100vw";
  overflow-x: "hidden";
}
